<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
    <display-name>L15</display-name>
    <description>Example of war file</description>

    <servlet>
        <servlet-name>initServlet</servlet-name>
        <servlet-class>ru.otus.l15.frontend.webserver.servlets.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>

